
<div class="form-group pt-3">
  <%= link_to 'Back', all_tasks_path, class:"btn btn-outline-primary" %>
  
</div>

<div class="col-lg-6 col-md-6 col-sm-12 offset-2">
<h1 class="display-4">Edit Task</h1>
</div>

<%= render 'taskform', task: @task %>


