<button>New Task</button>

<hr>
<h3>task one</h3>
<p>content one this is what I am supposed to do </p>
<p>deadline: 12/09/2019</p>
<button>update</button> <button>delete</button>
<p>-------------------------------------------------------</p>


<h3>task one</h3>
<p>content one this is what I am supposed to do </p>
<p>deadline: 12/09/2019</p>
<button>update</button> <button>delete</button>

<p>-------------------------------------------------------</p>
<h3>task one</h3>
<p>content one this is what I am supposed to do </p>
<p>deadline: 12/09/2019</p>
<button>update</button> <button>delete</button>

<p>-------------------------------------------------------</p>
<h3>task one</h3>
<p>content one this is what I am supposed to do </p>
<p>deadline: 12/09/2019</p>
<button>update</button> <button>delete</button>