<div class="form-group pt-3">
  <%= link_to 'Back', all_tasks_path, class:"btn btn-outline-primary" %>
</div>

<div></div>


<div></p></div>


<div class="col-sm-12">
    <p>first_name: <%= @user.first_name %></p>
    <p>email address: <%= @user.email %></p>
  </div>